{% import_yaml 'docker/defaults.yml' as default_settings %}

{% if grains['os'] != 'Amazon' %}

{% set os_config = salt['grains.filter_by'](
  {
    'Debian': {
      'pkgrepo': {
        'humanname':  'Docker Package Server',
        'name':       'deb https://apt.dockerproject.org/repo ubuntu-' ~ grains.oscodename ~ ' main',
        'dist':       grains.os.lower() ~ '-' ~ grains.oscodename,
        'file':       '/etc/apt/sources.list.d/docker.list',
        'key_url':    'https://yum.dockerproject.org/gpg'
      }
    },
    'RedHat': {
      'pkgrepo': {
        'humanname':  'Docker Package Server',
        'name':       'docker.repo',
        'baseurl':    'https://yum.dockerproject.org/repo/main/' ~ grains.os.lower() ~ '/$releasever/',
        'gpgkey':     'https://yum.dockerproject.org/gpg',
        'gpgcheck':   1
      }
    },
    'default': {}
  },
  grain='os_family',
  merge=salt['pillar.get']('docker:lookup'))
%}

{% do default_settings.docker.update(os_config) %}
{% endif %}

{% set docker = default_settings.docker %}
